body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #6668616e;
	width: 100%;
	margin:0;
	font-family: 'Pacifico', cursive;
}
header {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	margin-bottom: 30px;
	width: 100%;
	align-items: center;
}
h1 {
	font-size: 57px;
    margin: 0 0 20px;
}
.nav-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap:10px;
	margin-bottom: 20px;
}
#grid {
	background-color: #fff;;
	align-self: center;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
	border-radius: 5px;
	width: 500px;
	height: 500px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box {
	flex-grow: 1;
}
button, input {
	background-color: #fff;
	border: 1px solid #000;
	width: 100px;
	cursor: pointer;
	height: 30px;
	padding: 0;
	text-align: center;
	font-family: 'Pacifico', cursive;
}
#width {
	border-width: 0px;
	margin: 0;
	width: 150px;
}
button:hover {
	border-color:rgb(224, 7, 7);
}
.grid-size {
	text-align: center;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	flex-direction: column;
	gap:10px;
	justify-content: space-evenly;
}
.color-holder {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap:10px
}
footer a {
	color: #000;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
footer img {
	width: 20px;
	margin: 0 5px 0 5px;
}